<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- define your dependency -->
	<bean id="myFortune" class="SpringDemo.HappyFortuneService">

	</bean>

	
    <!-- Define your beans here -->
    <!--<bean id="myCoach" class="SpringDemo.TrackCoach">-->
	<!---->
		<!--<constructor-arg ref="myFortune" />-->
	<!--</bean>-->

	<bean id="BaseballCoach" class="SpringDemo.BaseballCoach">
		<!-- set up constructor injection -->
		<constructor-arg ref="myFortune"/>
	</bean>
	<bean id="swimCoach" class="SpringDemo.SwimCoach">
		<!-- set up constructor injection -->
		<constructor-arg ref="myFortune"/>
	</bean>
	<bean id="trackCoach" class="SpringDemo.TrackCoach">
		<!-- set up constructor injection -->
		<constructor-arg ref="myFortune"/>
	</bean>



</beans>





