<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- define your dependency -->
	<bean id="myFortune" class="SpringDemo.HappyFortuneService">

	</bean>
    <!-- Define your beans here -->

	<!-- Constructor Injection Example -->
	<bean id="baseballCoach" class="SpringDemo.BaseballCoach">
		<!-- set up constructor injection -->
		<constructor-arg ref="myFortune"/>
	</bean>

	<!-- Setter Injection Example -->
	<bean id="cricketCoach" class="SpringDemo.CircketCoach">
		<!-- Set up setter injection-->
		<property name="fortuneService" ref="myFortune"/>
	</bean>

</beans>





